<style>
:root {
--section-dark-bg-color:  #7a9135 !important;
--footer-color-background: var(--cover-text-color) !important;
--footer-color: #ffff !important;
--section-light-text-color:var(--cover-text-color) !important;
--color-text:var(--cover-text-color) !important;
}
</style>
<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Cœur Artichaut">
<meta property="og:title" content="Art thérapeute à Saint‑Maximin (Var)">
<meta property="og:description" content="Séances d’art‑thérapie pour adultes, enfants et adolescents à Saint‑Maximin-la-Sainte-Baume. Une approche sensible, créative et sécurisante.">
<meta property="og:url" content="https://www.coeurartichaut.fr/">
<meta property="og:image" content="https://www.coeurartichaut.fr/images/og-image.png">
<meta property="og:locale" content="fr_FR">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Art thérapeute à Saint‑Maximin (Var)">
<meta name="twitter:description" content="Séances d’art‑thérapie pour adultes, enfants et adolescents à Saint‑Maximin-la-Sainte-Baume. Une approche sensible, créative et sécurisante.">
<meta name="twitter:image" content="https://www.coeurartichaut.fr/images/og-image.jpg">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "LocalBusiness",
      "@id": "https://www.coeurartichaut.fr/#accueil",
      "name": "Cœur Artichaut",
      "image": "https://www.coeurartichaut.fr/images/og-image.png",
      "url": "https://www.coeurartichaut.fr/",
      "description": "Art thérapeute à Saint-Maximin-la-Sainte-Baume (Var). Séances individuelles et accompagnements créatifs pour adultes, enfants et adolescents, dans un cadre sécurisant et confidentiel.",
      "priceRange": "€€",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Saint-Maximin-la-Sainte-Baume",
        "postalCode": "83470",
        "addressCountry": "FR"
      },
      "areaServed": [
        "Saint-Maximin-la-Sainte-Baume",
        "Brignoles",
        "Nans-les-Pins",
        "Pourrières",
        "Var"
      ],
      "founder": {
        "@type": "Person",
        "name": "Marine Genteuil",
        "jobTitle": "Art-thérapeute"
      },
      "sameAs": [],
      "keywords": [
        "art-thérapie",
        "art-thérapeute",
        "séance d’art-thérapie",
        "accompagnement émotionnel",
        "Saint-Maximin-la-Sainte-Baume",
        "Var"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://www.coeurartichaut.fr/#website",
      "url": "https://www.coeurartichaut.fr/",
      "name": "Cœur Artichaut - Art thérapeute Saint-Maximin-la-Sainte-Baume (Var)",
      "publisher": {
        "@id": "https://www.coeurartichaut.fr/#accueil"
      },
      "inLanguage": "fr-FR"
    }
  ]
}
</script>